
/*----------------------------------------------------------------------------
 *  #BUTTONBOX
 *    Adapted from:
 *    - Source repo (github): Zonnev/elementaryos-firefox-theme
 *    - File: elementary/userChrome.css
 *----------------------------------------------------------------------------*/

/* brings window controls in the nav bar */
.titlebar-buttonbox {
  appearance: none !important;
  flex-direction: row-reverse !important;
  margin-left: 4px !important;
  top: 11px !important;
  position: absolute !important;
  display: flex !important;
  width: calc(100vw - 11px) !important;
  height: 25px !important;
  justify-content: space-between !important;
}
