
/*----------------------------------------------------------------------------
 * #COLORS
 *----------------------------------------------------------------------------*/

#navigator-toolbox {
  appearance: none !important;
  border: none !important;
  background-color: #2a2a2a !important;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.04), rgba(255, 255, 255, 0)) !important;
  border-radius: 6px 6px 0 0 !important;
}

.browser-toolbar:not(.titlebar-color) {
  background-color: transparent !important;
  border: none !important;
  background-image: transparent !important;
  appearance: none !important;
}

#menubar-items {
  border-radius: 6px 6px 0 0 !important;
  background-color: #2a2a2a !important;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.04), rgba(255, 255, 255, 0)) !important;
}
