
/*----------------------------------------------------------------------------
 *  #GTKTILED
 *----------------------------------------------------------------------------*/

:root[sizemode="maximized"] #titlebar,
:root[sizemode="maximized"] #titlebar:-moz-window-inactive,
:root[sizemode="fullscreen"] #titlebar {
  border-radius: 0 0 0 0 !important;
}

:root[sizemode="maximized"] #navigator-toolbox,
:root[sizemode="maximized"] #navigator-toolbox:-moz-window-inactive,
:root[sizemode="fullscreen"] #navigator-toolbox {
  border-radius: 0 0 0 0 !important;
}

:root[sizemode="maximized"] #main-window,
:root[sizemode="maximized"] #main-window:-moz-window-inactive,
:root[sizemode="fullscreen"] #main-window {
  border-radius: 0 0 0 0 !important;
}

:root[sizemode="maximized"] #menubar-items,
:root[sizemode="maximized"] #menubar-items:-moz-window-inactive,
:root[sizemode="fullscreen"] #menubar-items {
  border-radius: 0 0 0 0 !important;
}

/* TODO: ver por que el valor de 6px no redondea el borde */
:root[gtktiledwindow="true"] #titlebar,
:root[gtktiledwindow="true"] #titlebar:-moz-window-inactive {
    border-radius: 0 0 0 0 !important;
}

:root[gtktiledwindow="true"] #navigator-toolbox,
:root[gtktiledwindow="true"] #navigator-toolbox:-moz-window-inactive {
    border-radius: 0 0 0 0 !important;
}

:root[gtktiledwindow="true"] #main-window,
:root[gtktiledwindow="true"] #main-window:-moz-window-inactive {
    border-radius: 0 0 0 0 !important;
}

:root[gtktiledwindow="true"] #menubar-items,
:root[gtktiledwindow="true"] #menubar-items:-moz-window-inactive,
:root[gtktiledwindow="true"] #menubar-items {
    border-radius: 0 0 0 0 !important;
}
