
/*----------------------------------------------------------------------------
 *  #HIDE-ELEMENTS
 *    Includes css-rules from:
 *    - Source repo (github): Zonnev/elementaryos-firefox-theme
 *    - File: base.css
 *----------------------------------------------------------------------------*/

#PersonalToolbar {
  display: none !important;
}

/* get rid of privatebrowsing icon in tab bar*/
.private-browsing-indicator {
  display: none !important;
}

/* dont show window controls in fullscreen */
:root[sizemode="fullscreen"] .titlebar-buttonbox {
  display: none !important;
}

#tabbrowser-arrowscrollbox {
  display: none !important;
}

#alltabs-button{
  display: none !important;
}
