
/*----------------------------------------------------------------------------
 *  #INACTIVE
 *----------------------------------------------------------------------------*/

#navigator-toolbox:-moz-window-inactive {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.06)) !important;
}

#menubar-items:-moz-window-inactive {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.06)) !important;
}
