
/*----------------------------------------------------------------------------
 * #MENUBAR
 *   Adapted from:
 *   - Source repo (github): MrOtherGuy/firefox-csshacks
 *   - File: overlay_menubar.css
 *
 *   Made available under Mozilla Public License v. 2.0
 *   See the above repository for updates as well as full license text.
 *
 *   Makes menubar appear as overlay in the top left corner
 *----------------------------------------------------------------------------*/

#toolbar-menubar{
  position: fixed;
  height: 46px !important;
  display: flex;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  width: 100vw;
  height: initial !important;
  z-index: 10;
}

#toolbar-menubar[autohide="true"][inactive="true"]{
  height: 0px !important;
}

#toolbar-menubar > spacer{
  flex-grow: 1
}

#toolbar-menubar[inactive] > .titlebar-buttonbox-container{
  display: none
}

#main-menubar{
  height: 46px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  /* background-color: #ad5f00; */
  color: var(--arrowpanel-color);
}

#menubar-items{
  display: flex !important;
  -moz-box-orient: horizontal !important;
  /* background-color: #7a0000; */
  width: 100vw;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  justify-content: center !important;
}
#menubar-items::after{
  display: none !important;
}

@supports -moz-bool-pref("layout.css.osx-font-smoothing.enabled"){
  #toolbar-menubar[autohide="true"]:not([inactive]) > .titlebar-buttonbox-container{ display: none }
}
