
/*----------------------------------------------------------------------------
 *  #NAV-BAR
 *    Adapted from:
 *    - Source repo (github): Zonnev/elementaryos-firefox-theme
 *    - File: elementary/userChrome.css
 *----------------------------------------------------------------------------*/

/* makes room for window control buttons */
#nav-bar {
  margin-inline-start: 42px !important;
  margin-inline-end: 48px !important;
  height: 46px !important;
  background-color: transparent !important;
  background-image: none !important;
  margin-top: -46px !important;
}
