
/*----------------------------------------------------------------------------
 *  #TITLEBAR
 *----------------------------------------------------------------------------*/

#titlebar {
  -moz-appearance: none !important;
  height: 46px !important;
  border-radius: 6px 6px 0 0 !important;
}

#navigator-toolbox {
  border-radius: 6px 6px 0 0 !important;
  height: 46px !important;
}

#main-window {
  -moz-appearance: none !important;
  border-radius: 6px 6px 0 0 !important
}
