
/*----------------------------------------------------------------------------
 *  #WINTITLE
 *   Adapted from:
 *    - Source repo (github): MrOtherGuy/firefox-csshacks
 *    - File: show_window_title_in_menubar.css
 *
 *    Made available under Mozilla Public License v. 2.0.
 *    See the above repository for updates as well as full license text.
 *
 *    Shows window title in menubar
 *----------------------------------------------------------------------------*/

@-moz-document url(chrome://browser/content/browser.xhtml) {
  :root:not([sizemode="fullscreen"]) > head {
    display: block;
    position: fixed;
    width: calc(100vw - 2px);
    height: 46px !important;
    box-shadow: 0 -1px rgba(255, 255, 255, 0.04) inset,
                0 -1px rgba(255, 255, 255, 0.014) inset,
                -1px 0 rgba(255, 255, 255, 0.014) inset,
                0 1px rgba(21, 21, 21, 0.5),
                0 1px 2px rgba(0, 0, 0, 0.2) !important;

    border-inline: var(--elementary-headerbar-inline-border);
    background-image: var(--elementary-headerbar-bg) !important;
    border-radius: 4px 4px 0 0 !important;
  }

  head > * {
    display: none
  }

  head > title {
    margin: 15px 0 0 151px;
    display: -moz-box !important;
    width: calc(100vw - 235px) !important;
    padding-right: 7px !important;
    font-weight: 700 !important;
    overflow-x: -moz-hidden-unscrollable;
    text-overflow: ellipsis;
    color: var(--elementary-headerbar-text) !important;
    -moz-box-pack: center !important;
    filter: drop-shadow(0 1px 0 #272727);
  }
}
